html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
main {
  box-shadow: var(--box-shadow);
}
body {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
}
  
.beer-generator {
   
  width: 450px;
  height: auto;
  margin-top: 20vh;
  margin-left: 37vw;
  background-image: url(beer.gif);
  background-size: cover;
  
  background-position: center center;
  
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.19), 0 5px 5px rgba(0, 0, 0, 0.23);
}

.rubric {
  margin-top: 0;
    padding: 10px 15px;
    background: #2f373f;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: 450px;
    overflow: hidden;
    color: #f7f7f7;
    
}

.random-beer {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  padding: 15px;
}

.description{
  font-family: "Lato", sans-serif;
  font-weight: 500;
align-items: center;
justify-content: center;
text-align: justify;
padding: 20px;: 
}
.beer-button {
  display: inline-flex;
}

.beer-button a {
  display: inline-block;
  text-decoration: none;

  background-color: #1f2429;
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  border: solid 1px #7dc1ec;
  width: 5em;
  height: 5em;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.beer-button a:active {
box-shadow: inset 0 0 10px #f7f7f7;
   }
  .beer-button a:hover {
  cursor: url(glove2.png), auto;
}

.beer-button .fab {
  height: 3.5em;
  width: 3.5em;
  }
/*.beer-generator {
   height: 650px;
   width: 350px;
   margin-top: 10vh;
   margin-left: 35vw;
   position: relative;
   display: flex;
   flex-direction: column;
 align-items: center;
   border-radius: 0.4rem;
   overflow: hidden;
   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.19), 0 5px 5px rgba(0, 0, 0, 0.23);
 }
 
 .beer-gradient {
   background: linear-gradient(0deg, #0d1012, #485460, #8a97a8, #e4e7eb);
   background-size: 200% 200%;
   animation: gradient 10s infinite alternate;
 }
 @keyframes gradient {
   0% {
     background-position: 0% 50%;
   }
   50% {
     background-position: 100% 50%;
   }
   100% {
     background-position: 50% 100%;
   }
 }
 .rubric {
     margin: 0 0 20px 0; 
     padding: 10px 15px;
     background: #2f373f;
     font-size: 20px;
     font-weight: 700;
     text-align: center;
     width: 360px;
     overflow: hidden;
     
 }
 
 .random-beer {
  font-family: neon;
   font-size: 1.5em;
   font-weight: 500;
   text-align: center;
   padding: 20px;
 }
 
 .description{
 align-items: center;
 justify-content: center;
 flex-direction: column;
 text-align: justify;
 padding: 20px;: 
 }
 .beer-button {
   display: inline-flex;
 }
 
 .beer-button a {
   display: inline-block;
   text-decoration: none;
   background-color: #1f2429;
   box-shadow: var(--box-shadow);
   border-radius: 50%;
   width: 5em;
   height: 5em;
   transition: 0.5s ease;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .beer-button a:active {
 box-shadow: inset 0 0 10px #f7f7f7;
 }
 
 .beer-button .fab {
     height: 3em;
   width: 3em;
   }
 */